name: CI/CD with Terraform

on:
  push:
    branches:
      - main
      - Complete-CI-CD-with-Terraform-AWS

env:
  AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
  AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
  TF_STATE_BUCKET_NAME: ${{ secrets.AWS_TF_STATE_BUCKET_NAME }}
  AWS_REGION: ap-south-1

jobs:
  deploy-infra:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repo
      uses: actions/checkout@v4

    - name: Setup Terraform
      uses: hashicorp/setup-terraform@v2

    - name: Terraform Init
      working-directory: terraform
      run: |
        terraform init \
          -backend-config="bucket=${TF_STATE_BUCKET_NAME}" \
          -backend-config="region=${AWS_REGION}"

    - name: Terraform Validate
      working-directory: terraform
      run: terraform validate

    - name: Terraform Plan
      working-directory: terraform
      run: |
        terraform plan \
          -var="region=${AWS_REGION}" \
          -var="key_name=deployer"
      working-directory: ./Terraform

    - name: Terraform Apply
      working-directory: terraform
      run: terraform apply -auto-approve
      working-directory: ./Terraform